{% extends 'backoffice/index.html.twig' %}

{% block title %}Gérer mes commentaires :: Webcraft :: Craft magic websites within minutes !{% endblock %}

{% block specificcss %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/setup.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/backoffice.css') }}">

{% endblock %}


{% block content %}
<div class="container-fluid brown-text">
	<div class="row">
		<div class="col s12">
			<h4 class="dashboard"><i class="fas fa-wrench fa-lg"></i> Avis et commentaires</h4>
			<hr class="left account" /> 
		</div>
	</div>

	<div class="row">

		<div class="col s12">

			<table class="responsive-table striped bordered">
				  <tr>
						  <th>Commentaire sur le produit</th>
						  <th>Id du produit commenter</th>
				  	</tr>
					<tr>
			    {% for comment in productsComments %}
					    <td>{{ comment.commentText  }}</td>
					    <td>{{ comment.product }}</td>
			        </tr>
	 		    {% endfor %}
          </table>
		</div>
	</div>
</div>
{% endblock %}

{% block specificjs %}

{% endblock %}
