{% extends 'backoffice/index.html.twig' %}

{% block title %}Gérer mes commentaires :: Webcraft :: Craft magic websites within minutes !{% endblock %}

{% block specificcss %}

{% endblock %}


{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col s3">
			<h4></h4>
		</div>
		<div class="col s9">
			<h4>Avis et commentaires</h4>
		</div>
	</div>
	<div class="row">

		<div class="col s6">

			<table class="responsive-table striped bordered">
				  <tr>
						  <th>Commentaire sur le produit</th>
						  <th>Id du produit commenter</th>
				  </tr>

			    {% for comment in productsComments %}
			        <tr>
					        <td>{{ comment.commentText  }}</td>
					        <td>{{ comment.product }}</td>
			        </tr>

	 		     {% endfor %}
		    </table>

</div>

<div class="col s6">

				<table class="responsive-table striped bordered">
			      <tr>
					      <th>Commentaire sur l'adresse ajouter</th>
					      <th>Id de l'adresse utilisateur</th>
			      </tr>

			      {% for comment in userAddress %}

					      <tr>
							      <td>{{ comment.userComment }}</td>
							      <td>{{ comment.userAddressId }}</td>
						    </tr>
			      {% endfor %}
          </table>
  </div>
	</div>
</div>
{% endblock %}

{% block specificjs %}

{% endblock %}
