{% extends 'backoffice/index.html.twig' %}

{% block title %}Mes abonnées Newsletter :: Webcraft :: Craft magic websites within minutes !{% endblock %}

{% block specificcss %}

{% endblock %}


{% block content %}
<div class="container">
	<div class="row">
		<h4>Mes abonnées Newsletter</h4>
	</div>
	<div class="row">
		<div class="col s8 offset-s2">
			<table class="responsive-table striped bordered">
				    <tr>
						<th>Email abonné</th>
				    </tr>

			    {% for email in newsletter %}
			        <tr>
						<td>{{ email.emailValue }}</td>				  
			        </tr>
	 		    {% endfor %}
		    </table>

        </div>
	</div>
</div>
{% endblock %}

{% block specificjs %}

{% endblock %}
