{% extends 'backoffice/index.html.twig' %}

{% block title %}Mes abonnées Newsletter :: Webcraft :: Craft magic websites within minutes !{% endblock %}

{% block specificcss %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/setup.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/backoffice.css') }}">
{% endblock %}


{% block content %}
<div class="container-fluid brown-text">
	<div class="row">
		<div class="col s12">
			<h4 class="dashboard"><i class="far fa-paper-plane fa-lg"></i> Newsletter : abonnés</h4>
			<hr class="left account" />
		</div>
	</div>
</div>
<div class="container brown-text">
	<div class="row">
		<div class="col s12">
			<table class="responsive-table striped bordered">
				    <tr>
						<th>Email abonné</th>
				    </tr>

			    {% for email in newsletter %}
			        <tr>
						<td>{{ email.emailValue }}</td>				  
			        </tr>
	 		    {% endfor %}
		    </table>

        </div>
	</div>
</div>
{% endblock %}

{% block specificjs %}

{% endblock %}
