{% extends 'backoffice/index.html.twig' %}

{% block title %}Paramétrer ma boutique :: Webcraft :: Craft magic websites within minutes !{% endblock %}

{% block specificcss %}

{% endblock %}


{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col s12 brown-text">
			<h4 class="dashboard"><i class="fas fa-sliders-h fa-lg"></i> Paramètres E-commerce</h4>
			<hr class="left account" />
		</div>
	</div>
	<div class="row">
		<div class="col s3">
			<fieldset>
				<legend>Ma boutique</legend>
				<a href="{{ path('managetaxes') }}" class="orange-text"><i class="far fa-plus-square fa-lg"></i> Ajouter / Gérer mes taxes</a></p>
				<p>Méthodes de paiement</p>
				<p>Méthodes d'expédition</p>
				<p>Activer mes filtres produits</p>
			</fieldset>
		</div>

		<div class="col s9">
		
		</div>
	</div>
</div>
{% endblock %}

{% block specificjs %}

{% endblock %}
