<div class="newsletter">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
						<h4>Newsletter</h4>
						<p>Subscribe to our newsletter and get 20% off your first purchase</p>
					</div>
				</div>
				<div class="col-lg-6">
						{% block newsletter %}
						<div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
							{{ form_start(newsletterform) }}
						        <div class="input-field">
						            {{ form_label(newsletterform.emailValue) }}
						            {{ form_widget(newsletterform.emailValue) }}
						            </div>
							<button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">subscribe</button>
							{{ form_end(newsletterform) }}
							{% endblock %}
						</div>
				</div>
			</div>
		</div>
	</div>