/* WEBCRAFT BACKOFFICE */

* { margin: 0 auto; padding: 0; }

body { background: #EFEBE9; overflow-x: hidden; }

header {  }

nav, nav ul a:hover { height: 85px; }

nav .brand-logo { max-height: 65px; margin: 0.3em; display: block; float: left; }

nav ul li { list-style: none; display: inline-flex; justify-content: space-around; height: 85px; border-left: 1px solid #5D4037;}

nav ul li a p { margin: 0; padding: 0; line-height: 0; color: #ffb74d; }

nav ul li svg { color: #ffb74d; display:block; line-height: 0;}

#subnav { height: 45px; background: #ffb74d; width: 100%; position: absolute; display:flex; top:85px;}

nav ul#subnav li svg { color:#795548; display:inline-flex; }

ul#subnav li { display: inline-flex; justify-content: space-around; line-height: 2.5; margin: 0.3em; color: #795548; border:0!important; }

ul#subnav li span { height: 40px; margin: 0px 20px 0px 20px; }

ul li#empty { width: 150px; }

ul li#user_settings a { line-height: 6; width: 150px; }

.active_spec { background: #EFEBE9!important; }

li.active_spec svg, li.active_spec p { color: #795548!important; }

#user_submenu { display: none; }

#user_submenu ul li { padding: 10px; }

.webui-popover { background: #d7ccc8; width: 200px; }

.webui-popover.bottom > .webui-arrow:after{ border-bottom-color: #d7ccc8; }

/* Side Nav Responsive */

.side-nav { background: #EFEBE9; }

.side-nav .collapsible-header, .side-nav.fixed .collapsible-header { background: rgba(188,170,164,0.4); }

.side-nav .collapsible-header:hover, .side-nav.fixed .collapsible-header:hover { background: rgba(188,170,164,0.9) }

.side-nav li { display: block; }