@font-face {
    font-family: 'code';
    src: url('../fonts/code/code_new_roman-webfont.woff2') format('woff2'),
         url('../fonts/code/code_new_roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'code_bold';
    src: url('../fonts/code/code_new_roman_b-webfont.woff2') format('woff2'),
         url('../fonts/code/code_new_roman_b-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'code_italic';
    src: url('../fonts/code/code_new_roman_i-webfont.woff2') format('woff2'),
         url('../fonts/code/code_new_roman_i-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* { margin: 0 auto; padding: 0; font-family: 'Code'; }