<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th scope="col">Produit</th>
            <th scope="col">Quantité</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th></th>
            <td>{{ produits }}</td>
            <td>{{ quantite }}</td>
        </tr>
    </tbody>
</table>