{% extends 'front/ColoShop/base.html.twig' %}

{% block content %}
	<div style="height:50px!important;"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Votre panier</h1>
			</div>
		</div>
	</div>
{% endblock %}