<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th scope="col">Produit</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th></th>
            <td>{{ produits }}</td>
            <td>{{ quantite }}</td>
            <td>{{ prix * quantite }}€</td>
            <td><button class="btn btn-danger"><span class="fa fa-trash-o"></span></button></td>
        </tr>
    </tbody>
</table>