{% extends ('front/ColoShop/base.html.twig') %}
{% block title %}Accueil{% endblock %}
{% block content %}

	<div class="main_slider" style="background:url({{ asset('ColoShop/images/slider_1.jpg')}}">
		<div class="container fill_height">
			<div class="row align-items-center fill_height">
				<div class="col">
					<div class="main_slider_content">
						<h6>La collection printemps/été 2018 arrive bientôt !</h6>
						<h1>Recevez -30% sur les nouveaux produits!</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
