{% extends 'backoffice/index.html.twig' %}

{% block specificcss %}
	
{% endblock %}


{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col s3">
			<h4></h4>
		</div>
		<div class="col s9">
			<h4>Commandes reçues</h4>
		</div>
	</div>
	<div class="row">
		<div class="col s3">
			<fieldset>
				On a des options ici
			</fieldset>
			<fieldset>
				Et là aussi
			</fieldset>
		</div>

		<div class="col s9">
<<<<<<< HEAD
			  <table class="responsive-table striped bordered">
					  <tr>
                <th>OrderId</th>
                <th>UserId</th>
								<th>OrderDate</th>
								<th>OrderStatus</th>
  				  </tr>
					  {% for orderId in orders %}
			       <tr>
							   <td>{{ orderId.orderId }}</td>
							   <td>{{ orderId.id }}</td>
								 <td>{{ orderId.orderDate|date("m/d/Y") }}</td>
								 <td>{{ orderId.orderStatus }}</td>
						 </tr>
	 	 			  {% endfor %}
			</table>
=======

>>>>>>> 55d70a22737d052313fd83aec73cee7ca9144e3e
		</div>
	</div>
</div>
{% endblock %}

{% block specificjs %}
	
{% endblock %}
