{% extends 'backoffice/index.html.twig' %}

{% block title %}Dashboard :: WebCraft :: Make magic websites within minutes !{% endblock %}
	
{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col s5">
				<h4 class="dashboard"><i class="fas fa-th fa-lg"></i> Mon tableau de bord</h4>
				<hr>
			</div>

			<div class="col s7">
				<h4 class="dashboard">Mes statistiques</h4>
			</div>
		</div>
	</div>
{% endblock %}
