{% extends 'SitePublic.html.twig' %}

    {% block title %}Contact{% endblock %}
    
    {% block specificcss %}{% endblock %}


    {% block content %}
        {{ form_start(contactform) }}
            <button type="submit">Test</button>
        {{ form_end(contactform) }}
    {% endblock %}


    {% block specificjs %}
    {% endblock %}