{% extends 'backoffice/index.html.twig' %}

{% block specificcss %}
{# 	<link rel="stylesheet" type="text/css" href="{{ asset('css/wysiwyg.css') }}" /> #}
{% endblock %}


{% block content %}
    {#<script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>#}
    <script src="{{ asset('js/ckeditor.js') }}"></script>

    <div class="container-fluid">
	<div class="row">
		<div class="col s3">
			<h4></h4>
		</div>
		<div class="col s9">
			<h4>Créer une page</h4>
		</div>
	</div>
	<div class="row">
        <div class="col s3">
            <fieldset>
                On a des options ici
            </fieldset>
            <fieldset>
                Et là aussi
            </fieldset>
        </div>
        <form class="col s9">
            <div id="editor1" contenteditable="true">
                <h1>Bonjour ceci est un test</h1>
                <p>Blablablablablabla</p>
            </div>
            <script>
                CKEDITOR.disableAutoInline = true;
                CKEDITOR.inline( 'editor1' );
            </script>
        </form>
	</div>
</div>
{% endblock %}

{% block specificjs %}

{% endblock %}
