{% extends ('setup/setup.html.twig') %}

{% block nav %}
	<div class="row">
		<div class="setupNav center-align">
			<a href="{{ path('setup') }}" class="btn-floating btn-large waves-effect waves-light orange lighten-2"><i class="fas fa-database fa-lg"></i></a>............
			<a href="{{ path('setup') }}" class="btn-floating btn-large waves-effect waves-light grey lighten-2"><i class="fas fa-tv fa-lg"></i></a>............
			<a href="{{ path('setup3') }}" class="btn-floating btn-large waves-effect waves-light grey lighten-2"><i class="far fa-user fa-lg"></i></a>
		</div>
	</div>
{% endblock %}

{% block contentTitle %}
	<div class="title center-align">
		<i class="fas fa-database fa-3x"></i>
		<h4> Etape 1 :: Votre base de données</h4>
		<hr>
	</div>
{% endblock %}